
body {
    display: flex;
    flex-direction: column;
    font-family: Arial;
    min-height: 100vh;
  }

  
  main {
    flex: 1;
    padding: 20px;
  }
  

  .photos{
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

  }
  .roverImage{
    overflow: hidden;
    height: 0;
    padding: 50% 0;
    position: relative;

  }
  .rover-img{
      min-width: 100%;
      min-height: 100%;
      max-width: 100%;
      position: absolute;
      top: 0;
      left: 0;
  }
  .backDrop{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color:rgba(0,0,0, 0.5);
  }
  .backDrop img{
      display: block;
      max-width: 60%;
      max-height: 80%;
      margin: 60px auto;
      box-shadow: 3px 5px 7px rgba(0,0,0, 0.5);
      border: 5px solid white;
  }
